body{
    background-color: black;
    color: white;
}

.sec-formulario{
    font-size: 20px;
    width: 60%; /*Largura de 60%*/
    height: auto;   /*Altura automática*/
    margin: 0 auto; /*Centraliza a section*/
    
}


.sec_destaque{
    width: 100%; /*Largura de 100%*/
    height: 400px;  /*Altura de 400px*/
    background: url(imagens/img2.jpg); /*Imagem de fundo*/
    background-repeat: no-repeat;  /*Não repetir a imagem*/
    background-size: cover;  /*Cobre todo o espaço da section*/
    background-position: center;    /*Centraliza a imagem*/
}

.caixaTexto{
    width: 100%; /*Largura de 50%*/
    height: 30px;   /*Altura de 30px*/
    border-radius: 5px; /*Borda arredondada*/
    border: 2px solid #0d95e4;   /*Tira a borda*/
    margin: 15px 0px;
    padding: 10px;
    
}

.buttonEnviar{
    background: #0d95e4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; /*Muda o cursor para indicar que é clicável*/
    font-size: 18px;
    font-weight: bold; /*Deixa o texto em negrito*/
    transition: background 0.3s; /*Transição suave para o efeito hover*/
    float: right;
    }
