body{
    background-color: rgb(72, 127, 190);
}

table{
    border-collapse: collapse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .9em;
}

th{
    background-color: rgb(9, 41, 53);
    color: white;
    text-align: left;
}

th, td{
    border: 1px solid rgb(139, 196, 235);
    padding: 10px;
}


tr:nth-child(even){
    background-color: aliceblue;
}

tr:hover{
    background-color: antiquewhite;
}